[submodule "embedDIP"]
	path = embedDIP
	url = https://github.com/EmbedDIP/embedDIP.git
[submodule "Middlewares/Third_Party/tflite-micro"]
	path = Middlewares/Third_Party/tflite-micro
	url = https://github.com/tensorflow/tflite-micro.git
