build/
build-*/
Build/
cmake-build-*/
out/
bin/
obj/
*.elf
*.bin
*.hex
*.map
*.lst
*.lss
*.sym
*.axf
*.out
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
CTestTestfile.cmake
Makefile
*.cmake
!CMakeLists.txt
!cmake/toolchains/*.cmake
.vscode/
embedDIP/build*/
embedDIP/.cache/
embedDIP/Testing/
Middlewares/Third_Party/tflite-micro/